[submodule "s2client-api"]
	path = s2client-api
	url = git@github.com:HalfVoxel/s2client-api.git
[submodule "cereal"]
	path = cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "pybind11"]
	path = pybind11
	url = git@github.com:pybind/pybind11.git
